<center>
<h1>Catalogo Rogelio Bicicletas</h1>
<%= link_to 'Agregar Producto', new_product_path %>
</center>

<table>
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.productName %></td>
			<td><%= product.productDescription %></td>
			<td><%= link_to 'Show', product_path(product) %></td>
			<td><%= link_to 'Edit', edit_product_path(product) %></td>
			<td><%= link_to 'Destroy', product_path(product), method: :delete, data: { confirm: 'Are you sure?'}%></td>
		</tr>
	<% end %>
</table>



<div class="figures">
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure>
<figure>
  <img src="img1.png" alt="The Pulpit Rock" width="304" height="228">
  <figcaption>Precio:.</figcaption>
  <figcaption>Descripcion: </figcaption>
</figure
</div>